<div ng-include="'tpl/include/header.html'"></div>
<div class="container">
    <div class="form-group has-feedback search">
        <input type="text" class="form-control"
               ng-model="kw"
               placeholder="请输入原材料或者菜品的名称"/>
        <span class="form-control-feedback glyphicon glyphicon-search"></span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4" ng-repeat="list in disList">
            <div class="list-group">
                    <a href="#/detail/{{list.did}}" class="list-group-item" >
                        <img class="img-responsive" ng-src="img/{{list.img_sm}}">
                        <h5>{{list.name}}</h5>
                        <p style="display: inline-block">{{list.detail}}</p>
                        <b style="font-size: 18px;column-rule: #dd2918;">{{list.price | currency: '￥'}}</b>
                    </a>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a href="#/gengduo" >更多>></a>
    </div>
</div>
<div ng-include="'tpl/include/footer.html'"></div>